* {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

body {
  font-family: "Domine", serif;
}

/* GENERAL */
.titleDiv {
  text-align: center;
  font-size: 3em;
  font-weight: lighter;
}

.gold {
  color: #DFAC8C;
}

.blue {
  color: #254683;
}

.lightblue {
  color: #61DAFB;
}

/* HEADER */
.header {
  background-color: #071b29;
  height: 100px;
}
.header h1 {
  color: #DFAC8C;
  text-align: center;
  padding: 15px 0;
  font-weight: lighter;
}

/* MAIN */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #071b29;
  text-transform: uppercase;
  color: #FFF;
}
.main h1 {
  position: relative;
  font-size: 8vw;
  font-weight: lighter;
}
.main img {
  animation: 3s ease-in 3s infinite alternate goRight;
  margin-top: 50px;
  height: 100px;
}
@keyframes goRight {
  from {
    transform: translateX(0px) rotate(0deg);
  }
  to {
    transform: translateX(200%) rotate(90deg);
  }
}

/* PRESENTATION */
.presentation {
  height: 46vh;
  padding: 0 3vw;
  display: flex;
  align-items: center;
}
.presentation img {
  border-radius: 10%;
  float: left;
  margin-right: 1em;
}
.presentation p {
  padding: auto;
  font-size: 3em;
  display: flex;
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(90deg, #071b29, #DFAC8C, #071b29);
  background-repeat: no-repeat;
  background-size: 90%;
  animation: animate 10s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
  0% {
    background-position: -900%;
  }
  100% {
    background-position: 950%;
  }
}

/* TESTIMONY */
.testimony {
  background-color: #071b29;
  padding: 100px 0 150px 0;
  height: 950px;
}
.testimony .titleDiv {
  color: #FFF;
  padding: 45px 0 100px 0;
  text-transform: uppercase;
}

.comment {
  width: 500px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}
.comment h2 {
  font-size: 50px;
  padding-right: 20px;
  color: #DFAC8C;
}
.comment img {
  height: 120px;
  border-radius: 50%;
  padding-right: 20px;
}

.com {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px auto;
  height: 200px;
  background-color: #DFAC8C;
  color: #FFF;
  width: 500px;
  padding: 0 15px;
  border-radius: 10px;
  transition: all 3s;
}
.com h4 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
  color: #FFF;
}
.com p {
  text-align: center;
}

.com:hover {
  transition: all 3s;
  width: 90%;
  padding: 0 auto;
}

/* PROJECT */
.project {
  padding-bottom: 150px;
}
.project .titleDiv {
  margin-top: 40px;
  color: #DFAC8C;
  padding: 100px 0 100px 0;
  text-transform: uppercase;
}
.project .exempleProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.project .exempleProject img {
  max-width: 100vw;
  margin-bottom: 30px;
}
.project .exempleProject h2 {
  color: #DFAC8C;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: lighter;
}
.project .exempleProject p {
  color: #254683;
  font-size: 15px;
}

/* PROJECT */
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #071b29;
  height: 400px;
}
.skills p {
  font-size: 50px;
}

.formation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formation h3 {
  font-size: 40px;
  color: #DFAC8C;
  margin: 150px 0 50px 0;
  font-weight: lighter;
}
.formation p {
  font-size: 22px;
  margin-bottom: 20px;
  color: #254683;
}

.technos {
  display: flex;
  justify-content: space-evenly;
  padding: 150px 0 150px 0;
}
.technos img {
  height: 100px;
}

/* FOOTER */
.footer {
  background-color: #071b29;
  color: #DFAC8C;
  text-align: center;
  padding: 80px 5% 0 5%;
}
.footer h1 {
  font-size: 40px;
  margin-bottom: 120px;
  font-weight: lighter;
}
.footer .container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 85px;
}
.footer .container .contact {
  display: flex;
  flex-direction: column;
}
.footer .container .contact h3 {
  font-size: 25px;
  margin-bottom: 40px;
  font-weight: lighter;
}
.footer .container .contact p {
  font-size: 20px;
  color: #FFF;
  margin-bottom: 30px;
}
.footer .container .social {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.footer .container .social h3 {
  font-size: 25px;
  margin-bottom: 40px;
  font-weight: lighter;
}
.footer .container .social p {
  font-size: 20px;
  color: #FFF;
  margin-bottom: 30px;
}
.footer .container .social p a {
  text-decoration: none;
  color: #FFF;
}
.footer .copyright {
  padding-bottom: 50px;
}/*# sourceMappingURL=style.css.map */